

.Render__product {
         position: relative;
     
         margin-left: 7%;
         margin-right: 7%;
}


@media (max-width: 560px) {
      .Render__product {
       
         
          margin-left: 1%;
          margin-right: 1%;
}
@media (min-width: 768) and (max-width: 1024px) {
        .Render__product {
          
            
        }
}
@media (min-width: 1200px) {
       .Render__product {
            position: relative;
          
        }    
}
}