

.addColor {
    background-color: rgb(2, 134, 250) !important;
    color: rgb(255, 255, 255);
}

.container {

    &__rowOne {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

     
      
      .container__rowOne_item {
           border-radius: 5px;
           padding: 1rem;
           background-color: rgb(228, 228, 228);

           .item {
             font-weight: 600;
           }     
      }
    }
    .container__rowOne_item:hover {
      
    }

    .container__title {
          color: black;
          font-size: 20px;
          font-weight: 900;
          margin-top: 1rem;
          margin-bottom: 1rem;
          
       }
     
}