




//======================================style chung========================
.Link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
    font-size: 12px;
}
//===========================================================
.mainNavigation {
      
        
       
        border-radius: 10px;
       .iconRight {
            width: 15px;
            height: 12px;
       }
}

//====================================================responsive====================================


@media (max-width: 768px) {
    .mainNavigation {
      
        background-color: white;
        border-radius: 10px;
        padding-left: 1% !important;
       .iconRight {
            width: 15px;
            height: 12px;
       }
}
}
