
li {
    font-size:0.9rem;
    width:20em;
    padding: 5px 5px;
}
.image {
    max-width: 100%;
}
.Wrapper {
    max-width: 52em;
    .aside1 {
         .Wrapper__contact2 {
             background-color: white;
             box-shadow: 
               0 1px 2px 0 rgba(60, 64, 67, .1),
               0 2px 6px 2px rgba(60, 64, 67, .15);
             margin-top: 2rem;
             padding: 1rem 1rem;
             display: grid;
             grid-template-columns: 50% 50%;
    .Item {
             display: flex;
             align-items: center;
             grid-column-gap: 1rem;
             margin-bottom: 1rem;
             }
             .Wrapper__sale1 {
                     
                  
             } 
        }
    }
}
.HandleImage {
    max-width:100%;
   
}

.HandleImage__button {
           border-radius:5px;
           border: 2px solid black;
           max-width: 6rem;
           height:5rem;
           flex-shrink: 0; /* Đảm bảo kích thước button không bị co */
           margin-right: 8px; /* Khoảng cách giữa các button */
}
.HandleImage__button:hover{
                   border: 2px solid red;
           }
.HandleImage__button:active{                             
                   border: 2px solid red;
           }
.HandleImage__button.selected {
                   border: 2px solid red;
           }
           
      

.HandleImage {
 .addcolor {
    background-color: aqua;
 }
    .HandleImage__image {
        max-width: 100%;
        height: 400px;
        border-radius: 10px;
      
        padding: 2rem 2rem 5rem 2rem;
        
        overflow: hidden;  // nếu nhiều phần tử thì phần tử bị tràn và sẽ ẩn đi  
        .HandleImage__node {
             display: flex;        
             height:100%;
             align-items:center;
             position:absolute;  
             grid-column-gap: 40em;
        }
       .list__image {
            grid-column-gap: 2rem;
            display: flex;
            justify-content: center;
    
            .List__item {
              display: inline-block;
              display: flex;
              flex-direction: column;
              grid-row-gap: 0.8rem;
                .item {
                    font-weight: 600;

                }
                .item::before{
                    content: '+';
                    font-size: 1.2rem;
                    width: 10px;
                    height: 10px;
                    color: red;
                }

            }
          
        }
    }
}


.main__image {
    width:50%;
    height:19rem;
     
    border-radius: 20px;
  
}
.small__image {
   max-width:22em;
}
.btn__image {
   width:100%;
   height:100%;
   object-fit: cover;
  
}
  
.HandleImage__image {
         height:350px;
         position: relative;
}
.HandleImage__image img {
          
           object-fit: cover;
           transition: opacity 0.8s ease-in-out;
}

.HandleImage_Slide {
            max-width: 100%;
            display: flex;
            margin-top: 1rem;
            grid-column-gap: 16px;
            overflow-x: auto;                      /* Cho phép cuộn ngang */
            overflow-y: hidden;                    /* Ẩn cuộn dọc */
            white-space: nowrap;                   /* Ngăn xuống dòng */
                                /* Đặt chiều rộng tối đa cho vùng hiển thị */
           -ms-overflow-style: none;
                    
}
.HandleImage_Slide::-webkit-scrollbar {
            display: none; /* Ẩn thanh cuộn trên Chrome, Edge và Safari */

}
