@import '../../../../styles-global/untils/variable';

.container {
       background-color: rgb(240, 237, 237);
      margin-top: 1rem;
        display: flex ;
        grid-column-gap: 1%;
        padding: 10px 10px;
       
     &__boxLeft {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 40em;
            min-width: 20em;
            background-color: rgb(255, 255, 255);
            padding: 10px 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .mainBox {
                width: 100%;
                .itemBtn {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    padding: 1em 3em 1em 3em;
                    cursor: pointer;
                    border-radius: 10px;
                    margin-bottom: 1rem;
                    .itemBtn {
                       
                        h1 {
                        font-weight: 800;
                        font-family: 'Courier New', Courier, monospace;
                        font-size: 23px;
                        text-align: center;
                        span {
                            display: block;
                            margin-left: 1rem;
                        }
                        }
                    
                    }
                      
                
                    .icon {
                        margin-right: 1rem;
                    }
                   
                }
                .itemBtn:hover {
                        background-color:  rgba(115, 208, 9, 0.821);
                      }
                .addHover {
                        background-color: rgba(115, 208, 9, 0.821);
                }
                
            }
        }

          &__boxRight {

            cursor: pointer;
            .titleBoxRight {
                 font-weight: 600;
                 font-size: 16px;
                 padding-left: 1rem;
            }
            .navigation {
                    min-width: 60em;
                    &__navOne {
                        display: flex;
                        align-items: center;
                        grid-column-gap: 2.5rem;
                        .item {
                            text-align: center;
                            cursor: pointer;
                        
                        }
                    }
                    &__navTwo {
                    
                        .listProduct {
                          
                            padding: 10px 10px ;
                            display: grid;
                            grid-row-gap: 1rem;
                           
                            h1 {
                                margin-bottom: 1rem;
                                font-size: 20px;
                                
                            }
                            .mainInFo {
                            background-color: white;
                                 border-radius: 10px;
                                 padding: 10px 10px 10px 10px;
                                position: relative;
                                border: 1px solid black;
                                &__BoxOne {
                                     display: flex;
                                     justify-content:space-between;
                                     .date {

                                     }
                                     .status {
                                        background-color: greenyellow;
                                        display: block;
                                        padding: 5px 10px 5px 10px;
                                        border-radius: 999px;
                                        font-weight: 500;
                                        font-size: 13px;
                                     }
                                     strong {
                                        font-weight: 600;
                                     }
                                     
                                }
                                
                                &__BoxTwo {
                                    .content {
                                        
                                        display: flex;
                                        grid-column-gap: 1rem;
                                        margin-left: 2rem;
                                        margin-bottom: 1rem;
                                        margin-top: 1rem;
                                        .imgProduct {
                                            max-width: 100px;
                                            height: 100px;
                                        }
                                        .title {
                                            display: block;
                                            font-weight: 800;
                                            font-family: $fontText;
                                            margin-bottom: 1rem;

                                        }
                                        .price {
                                            font-weight: 700;
                                            color: red;
                                        }
                                        .priceDown {
                                            font-size: 13px;
                                            text-decoration:line-through;
                                            font-weight: 500;
                                            color: black;
                                        }
                                    }
                                    .sumMoney {
                                          position: absolute;
                                          right: 0;
                                          bottom: 0;
                                          padding: 10px 10px;
                                         font-family: $fontText;
                                         font-weight: 600;
                                        big {
                                            color: red;
                                        }
                                        .viewDetail {
                                            font-size: 13px;
                                            font-weight: 800;
                                            margin: 1em 0rem 0rem 9rem;
                                        }
                                    }
                                }
                            }
                        }
                        
                    }
              
            }
            .styleItem {
             
        h1 {                                   
                background-color: rgb(255, 234, 2);
                padding: 10px 20px 10px 20px;
                border-radius: 10px; 
            }
               
            }
        
     }
   
}


//======================================responsive==================================
@media (max-width:768px) {
    .container {
        background-color: rgb(240, 237, 237);
         margin-top: 1rem;
         padding: 10px 10px !important;
        display: flex ;
        flex-direction: column;
          &__boxLeft {
            display: grid !important;
            grid-template-columns: 7em 7em;
            min-height: 10em;
            grid-template-rows: 4em repeat(2, 4em);
            grid-column-gap: 2rem;

            flex-direction: row !important;
            flex-wrap:wrap;
              .mainBox {
                width: 100%;
                .itemBtn {
                    font-weight: 700;
                    display: flex;
                    text-align: start;
                    min-width: 9em;
                    padding: 1rem 0rem 1rem 0px;
                }
              }
         }
         &__boxRight {
          .titleBoxRight {
                margin-top: 1rem;
                margin-bottom: 1rem;
          }
            .navigation {
                min-width: 20em;
                 &__navTwo {
              .listProduct {
                //   max-width: 35%;
                  padding: 0px !important;
                .mainInFo {
                    width: 100%;
                       &__BoxOne {
                            display: flex;
                            flex-direction: column;

                       }
                          
                                &__BoxTwo {
                                    .content {
                                        display: flex;
                                            flex-direction: column;
                                    }
                                     .sumMoney {
                                        position: relative;
                                     }
                                }
                }
            }
            }
            }
           
         }
    }
}
