

:root {
    --visibleImages: 4;
    --imgWidth: 110px;
}
.boxContainer {
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
        border-radius: 5px;
      
}

.listItem {
    background-color: white;
    display: flex;
    grid-column-gap: 0rem;
    width: calc(var(--visibleImages) * var(--imgWidth));
    height: 7rem;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    padding-top: 1rem;
   
    scroll-behavior: smooth;

    .Item {
        display: block;
        position:relative;
        text-align:center;
        cursor: pointer;
        padding: 15px 10px;
        max-width: 10rem;
        font-size: 0.9rem;
        
    }
}
.listItem::-webkit-scrollbar { 
     height: 6px;
}
.listItem::-webkit-scrollbar-thumb {
background: #888;
border-radius: 4px;
}
.imageSlice {
   
    
    height:79%;
    width: 100%;
    position: relative;
    box-shadow:0 2px 2px 0 black
               2px 0px 6px 0 black;
    border: 1px solid black;
   
    
}
.btnNavigation {
  
    transition: transform 0.8s ease-in-out, opacity 0.5s ease;
    position: absolute;
    display: flex;
    grid-column-gap: 46.5em;
    align-items: center;
    justify-content: center;
    bottom:55%;
    opacity: 0;

}
.image-container:hover .btnNavigation {
    opacity: 1;
    transform: translateX(0);
}
.Navigation__iconLeft {
        transform: translateX(-60%);
}
.transitionLeft {
          transform: translateX(10%);
          transition: transform 0.5s ease-in-out, opacity 2s ease;
}

.Navigation__iconRight {
            transform: translateX(0%);
}
.transitionRight {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out, opacity 2s ease;
}
.icon {
    position: absolute;
    z-index: 2;
    width: 3rem;
    height: 2rem;
    color : red;
    opacity: 0.7;
    height: 2rem;
     border-radius: 1rem;
 
}
.Hightlight {
    font-weight: 600;
}

.Hightlight::after {
    display: inline-block;
    content: "";
    width: 150px;
    height: 2px;
    color:black;
    margin-top: 2rem;
    background-color:black;
    position: absolute;
    left: 0;
    
}

.nameSale {
    font-size: 0.7rem;
    text-align:center;
    padding-top: 0.8rem;
  
}
.nameSale::after {
    content: "MỚI";
    width: 50px;
    height: 50px;
    background-color: red;
    color: white;
    padding: 5px 5px;

}
.Container {
     box-sizing: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
                 0 2px 6px 2px rgba(60, 64, 67, .15);

            



    .image:hover ~ .Navigation, // khi ta hover và image thì nút sẽ hiển thị 
    .Navigation:hover  // bổ sung thêm khi ta hover vào nút bấm thì hiển thị tránh trường hợp hover vào nút sẽ k hiển thị
    { // chọn tất các các phần tử tử anh chị em sau phần tử .image 
  .icon {
        border: 3px solid red;
        position: absolute;
  }

         display: flex; /* Hiển thị các nút khi hover */
}
}
.Aside {
        padding: 0px 0px 20px 0px;
       max-width: 745px;
        height: 473px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
}
.openNode {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    
}