




// -============================style chung ===========================
.common__format_product {
     display: flex;
     grid-column-gap: 1rem;
     grid-row-gap: 1rem;
     flex-wrap: wrap;
}
.Link {
        text-decoration: none;
        color: black;
        font-weight: 500;
}
.label {
         color: red;
         font-size: 14px;
         font-family: 'Times New Roman', Times, serif;
}

//=======================================================================

.mainBox {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     max-width: 35em;
        padding-left: 10px;
        &__box1 {
            .tabchoose {
                margin-top: 0.5rem;
                .label {
                   font-weight: 800;
                   margin-bottom: 1rem;
                }
                .image__menu {
                    height: 48px;
                    width: 48px;
                }
                .Link {
                    width: 70px;
                    min-height: 70px;
                    margin-left: 5px;
                    display: flex;
                    align-items: center;
                   gap: 5px;
                    padding: 5px;
                    flex-direction: column;
                    border: 1px solid rgba(47, 47, 47,0.5);
                    border-radius: 5px;
                    font-size: 12px;
                    
                }
                &__product {
                       
                }
            }
        }
        &__box2 {
             .label {
                font-size: 1rem;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 800;
                 margin: 10px;
            }
           .tabchoose {
               margin-top: 0.5rem;
               display: grid;
               grid-template-columns: 1fr 1fr;
           
           }
              .Link {
                text-align: center;
                border-radius: 10px;
               margin-left: 5px;
               font-size: 14px;
font-weight: bold;
border: 1px solid black;
                     margin-bottom: 5px;
                     display: inline-block;
                     padding: 10px;
                    background-color: rgb(233, 233, 233);
                    
              }  
        }
        &__box3 {
            .label {
                 margin-bottom: 5px;
                 font-weight: 800;
            }
               .tabchoose {
                  margin-top: 0.5rem;
           }
              .Link {
                 border-radius: 10px;
                     display: inline-block;
                     padding: 5px;
                     margin-left: 5px;
                     margin-bottom: 5px;
                    background-color: rgb(233, 233, 233);
              }
        }
}