

@import "./related-products.module";
@import "../abstracts/mixins";
// =================style chung =================
        .icon {
                width: 1rem;
                height: 1rem;
              
        }
        .boder__asides {
            border: 2px solid red;
        }
       
   
     

//= =============================================
.body {
      display: flex
}
.link {
  @include flex-center(column, center ,center);
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: 0 1px  1px 0 black
              0 2px 1px 0 black;

}
.Container {
    min-height: 100vh;
    position: relative;
    top: 127px;
    margin-left: 7%;
    margin-right: 7%;
    max-width: 1450px;
  
}
.aside {
  padding: 10px;
  max-width: 27rem;
  height: 300vh;
  overflow: auto;

 

  border-radius: 10px;
box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),0 2px 6px 2px rgba(60,64,67,.15);

     

}
// .aside::-webkit-scrollbar{
//         display: none;
// }
.imageProduct {
  display: block;
}
.aside::-webkit-scrollbar {
display: none;
}
.aside{
-ms-overflow-style: none;
}


.positionRelative {
       height: 125vh;
       display: flex;
       grid-column-gap: 1rem;
       position: relative;
       top: auto;
       left: 0;
       transition: top 2s ease;
       background-color: white;
}

.body__aside {
  height: 125vh;
    display: flex;
    grid-column-gap: 1rem;
    position: sticky;
      transition: top 2s ease;
    top: 70px;
    background-color: white;
    .active {
      border: 2px solid red;
      font-weight: 400;
      border-radius: 5px;
  
    
} 
    .active::after{     // thiết lập css sau phần tử 
      position: absolute;
       top: 0;
       right: 0;
       color: rgb(255, 255, 255);
       background-color: red;
       border-bottom-left-radius: 5px;
       padding: 5px;
       content: "✓";
    }
       box-sizing: border-box;
      display: flex;
      justify-content: space-evenly;
      .Wrapper__aside {
        height: 90em;
        width: 425px;
         
            }
  

          
}
.title__detail_top2 {
  margin-bottom: 1rem;
}
.Box {




.addborder{
    border: 0.8px solid red;                                                                        
}     
.addborder::after {
      content: "✓";
      color: rgb(255, 255, 255);
      background-color: red;
      font-weight: 800;
      padding: 3px;
      border-bottom-left-radius: 5px;
      position: absolute;
      right: 0;
      top: 0;
}  
}
  
.Description {

}
.PhoneDescription {
    z-index: 2; 
    .Wrapper__row-top {
         display: flex;
         justify-content:space-around;
         padding: 2rem 0rem 0rem 4rem;
         grid-column-gap: 1rem;
    }
    .Wrapper__row-top span {
            color: #03fe03;
            font-weight:400;
            font-family: 'Times New Roman', Times, serif
    }
    .Wrapper__title figcaption {
          font-size: 1.4rem;
          color: white;
          font-weight: 500;                 
    }
    .Wrapper__icon {
      display: flex;

    }
    .Wrapper__icon img {
            width:15px;
            height:14px;
    }
    hr {
      color: #ffffff;
      height:2px;
      font-weight:700;
    }
  
  
    .Wrapper__left {
          display: flex;
          justify-content: center;
          align-items: center;
          grid-column-gap: 10px;
    }
    //====================css chung =======================================
    table {
      color: white;
    }
    .btnBuy {
            margin-top: 1rem;
            
  
    }
    .btn__Buy {
      padding: 0.6rem 1rem 0.6rem 1rem;
      border-radius: 1rem;
      background-color: yellow;
      color: black;
      font-weight: 800;
    }

}

.Wrapper {      
      max-width: 1250px;
      height: 100%;          
      margin: 0 auto; 
        .Wrapper__figure {
             text-align:center;
     }
}
.Wrapper__rowbody {
  max-width:1300px;
    td {
        padding: 0.8rem 0.8rem;
    }
    .contact {
        text-align:start;
       
    }
    .contact p {
           display: flex;
           align-items: center;
    }
    // áp dụng padding-bottom cho tất cả các thẻ trừ thẻ p đầu tiền 
    .contact p:not(:last-of-type) {
                padding-bottom: 10px;
    }
    
    
    
    
    //================================================================
      .Wrapper__contact {
      max-width: 585px;
        display: flex;
        background-color:white;
        padding: 1rem 1rem;
        border-radius: 10px;
      }
      .Wrapper__Content {
                display: flex;
                justify-content:space-between;
                grid-column-gap: 3rem;
                background-color: white;
                border-radius: 3rem;
              
    }
    .Wrapper__Title {
               font-family: "Oswald", sans-serif;
                font-optical-sizing: auto;
               font-size: 1.2rem;
             color: #000000;
              text-align:start;
               margin-bottom: 1rem;
    }
    .Wrapper__table {
            border-radius: 4rem;
            display: table-row;
            border: 1px solid white;
           
    }
    .table_row {
          height:2rem;
          color: #000000;
          margin: 0 0 2rem 0;
          width:60%;
          border:2px solid black;
    }
    .table_row--color {
          background-color: #878383
    }
    .table__row--content {
        width: 400px;
    }
}
.details_top1 {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
       &__price {                 
           display: flex;
           justify-content:space-between;
           width: 100%;  
           .memory__price__link {
            height: 45px;
             position: relative;
                       padding: 4px 2px 20px 2px ;
                       display: grid;
                       grid-row-gap: 5px;
                       margin-left: auto;
                       margin-right: auto;
                       width: 8rem;
                       border-radius: 5px;
                       background-color: #000000;
              h2 {
                  font-size: 10px;
                  font-weight: 700;
              }
              p {
                  font-size: 12px;
              }
                      
                           
              }                        
        }     
}
.details_top2 {
    &__product {
      margin-right: auto;
      margin-left: auto;
      display: grid;
      grid-template-columns: 32% repeat(2, 32%);
      grid-row-gap: 10%;
      grid-column-gap:2%;
      
   .Link {
    position: relative;                  
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    height: 2.8rem;
    border-radius: 5px;
    display: flex;
     justify-content: center;
    text-decoration: none;
    color: #000000;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0 rgb(156, 156, 156);                 
  } 
  .Link {       
 
     .img {
        max-width: 2em;
         height: 2em;
      }
     .name__price {
         height: 35px;
         display: flex;
         flex-direction: column;
         grid-row-gap: 5px;
    h2 {
         font-size: 0.7rem;
        font-weight: 700;
       
    }
      p {
                font-size: 0.8rem;
    }
    }
    }
    }
    
}
//==========================================================responsove=========================

@media (max-width: 768px) {
.imgProduct {
       display: none;
}
        .Container {
            margin-left: 0px;
            margin-right: 0px;
        }
       .body__mobie {
           display: flex !important;
            flex-direction: column !important;
            position: static !important;
            height: 90vh  !important;
       }
   
       
.positionRelative {
       height: 125vh;
       display: flex;
       grid-column-gap: 1rem;
       position: static;
       transition: top 2s ease;
       background-color: white;
}
.body__aside {
       position: static;
       max-width: 100% 
}
.details_top1 {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
       &__price {  
              max-width: 80%;
              display: flex;
              justify-content: space-between;
      .memory__price__link {
          max-width: 7rem;
          padding:4px 2px 5px 5px;
    }

             }
                  }
}



@media (max-width: 1024px) {
      .body {
          display: flex;
          flex-direction: column;
      }
      .aside {
        margin-top: 10rem;
          padding: 10px;
          overflow: hidden;
          margin-left: 0rem;
          height: 100%;
          
          
      }
     
//       .positionRelative {
      
//        display: flex;
//        flex-direction: column;
   
//      position: relative;
//      background-color: white;
// }

}