
.header {
       max-width: 100%;
       position: relative;
   
      font-family: Inter, Inter Fallback, Arial, sans-serif;
}
.header__rowOne {

   background-color: #d70018;
  
}
.titleDesktop {
    display: block;
}

.MenuDesktop {

    
}


.menuHeader {
    position: absolute;
    z-index:1100;
}

.MenuMobie {
    max-width: 1440px;
    display: none;
    &__rowOne {
        display: none;
    }
}








.headerInput {
    display: block;


    &__menuMobie {
        display: none;
    }
}
.mainMenu {
    max-width: 1440px;
    margin: 0 auto;
  margin-top: 1rem;
}
.containerMobie {
        display: none;
}
.menuMobie {
     position: absolute;
     top: 0;
}
.menuMobie {
        display: none;
}

.mainHeaders {
    padding-bottom:0.5rem;
    position: fixed;
    top:0;
    z-index: 999 ;
    width:100%;
    .boxAdvertisementImg {
        background-color: rgb(0, 47, 86);
        text-align: center;
    }
    .advertisementImg {
        max-width: 1307px;
        object-fit: cover;
           
            height: 50px;
    }
    .FormSection {
            display: none;
    }

}
.wrapperMainHeader {
     background: linear-gradient(90deg, #0631c2 0%, #071033 50%, #0008ff 100%);
     padding-left: 7%;
     padding-right: 7%;
    
      min-height: 75px;
      position: relative;
      z-index:1000;
      display: grid;
      grid-template-columns: 30% 27% 30%; 
      .responsive__header {
         display: flex;
         align-items: center;
       
      }
}

// =================================Responsive====================================

@media  (max-width: 1400px) {
.wrapperMainHeader {

     background-color: #2a83e9;
      min-height: 75px;
      position: relative;
      z-index:1000;
      display: flex;
      align-items: center;
      justify-content: center;
     
    }
}
@media (max-width: 1200px) {
     .containerMobie {
            display: block;
     }
       .menuHeader {
            display: none;
       }
       .menuMobie {
             display: block;
             transform: translateX(100%);
             transition: transform 0.5s ease-in-out;
             position: fixed;
             z-index: 1000;
             min-width: 100%
       }
       .show {
           transform: translateX(0%);
       }
       .hide {
           transform: translateX(100%);
       }
       .Overlay {
                display: none;
       }
       
}
@media (max-width: 768px) {


    .header__rowOne {
        
        height: 170px;
  
}
    .header {
         height: 10rem;
    }
.titleDesktop {
    display: none;
}
.titleMobie {
    display: block;
}


.MenuDesktop {
    display: none;
}



  .MenuMobie { 
          display: block;
          margin-top: 1rem;
     
         .menuMobie__rowOne {
            display: flex;
            align-items: center;
            padding-left: 0.7qrem;
         }
         .menuMobie__rowTwo {
        
            padding: 2px;
            background-color: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            gap: 1rem;
            .btnCart {
            
            }
         }
  }

    .wrapperMainHeader {
          padding-left: 0%;
          padding-right: 0%
    }
     .mainHeaders {
               
    }
}