

.component {
  max-width: 1440px;
  margin: 0 auto;
}

.componentHotSale {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .imageSale {
        background-color: rgb(228, 31, 31);
    }
}

.componentSamsung {
 

}


.DefaultComponent {

    background-color: aqua;
}





