

.component {
         max-width: 1440px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         gap: 10px;
}

.componentHotSale {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .imageSale {
        background-color: rgb(228, 31, 31);
    }
}

.componentSamsung {
 

}


.DefaultComponent {

    background-color: aqua;
}

@media (max-width: 768px) {
.component {
        margin-top: 2rem;
}

}





