





.componentHotSale {

    &__imgSale {
      
    }
}





@media (max-width: 768px) {
        
.componentHotSale {
    position: relative;
  
    &__imgSale {
        max-width: 21em;
        margin-left: 1rem;
    }   
}

}