
.MainHome {
    overflow: hidden;
}
 .slideTextMobie {
        width: 98%;
        margin: auto;
        margin-top: 2rem;
        display: none;
    }
.slideTextlaptop {
    margin-top: 1rem;
    display: block;
}
.slildeMobie {
       
        margin-top: 5rem;
}
.imgSlide {
      display: block;
      margin-top: 1rem;
}
.containerImage {
    display: flex;
    justify-content: space-between; 
     position: fixed;
    z-index: 1;
    margin-top: 10rem;
    .childImage {
        width: 6rem;
        height: 20em;
        object-fit: contain;    
    }
    .imageRight {
            position: absolute;
            left: 89em;
        
    }
  
}
.Box__header {
        margin-left: 7%;
        margin-right: 7%;
         .Productads {
            display: block;
        }
  }
 

.form__section {
        display: block;
         max-width: 1450px;
        margin-top: 1rem;         
}
.Productlist {
       
}

.btn__wrappper {
                                position: absolute;
}

.Mainheader {
    .Header {
          padding-top:1rem;
          margin-top:7em;
          display: flex;  
          align-items: start;  
          justify-content:start;
          height: 490px;   
          max-width:1450px; 
          box-sizing: border-box;
}
    .menuWeb {
        display: block;
        height: 100%;
      
}
    .menuMobie {
    display: none;
}

}

//======================================responsive=================================
@media (max-width: 1024px) and (min-width:678px) {
       
}

@media (max-width: 1200px) {
 
    .MainHome {
        background-image: url('');
    }
    .containerImage {
         display: none;
    }
    .Mainheader {
        .Header {
                height: 10px;
               margin-top: 5em;
        }
        .menuWeb {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .slideTextlaptop {
        display: none;
    }
    .slideTextMobie {
        display: block;
    }
    .imgSlide {
     display: none;
     margin-top: 1rem;
}
    .FormSection__Web {
            display: none;
    }
    .form__section {
        display: block;      
        margin-top: 12rem;  
}      
    .Article {
        margin-top: 22rem;
    }
    .Productlist {
       
    }
    .Box__header {
        margin-left: 1%;
        margin-right: 1%;
        .Productads {
            display: none;
        }
  }

}
     





