


.boxlabel {
  background-color: white;
  max-width: 1180px;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.1),
              0 2px 6px 2px rgba(60,64,67,.15);
border-radius: 10px;
padding: 10px 10px;
    .box_row_1 {
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: 2rem;
        width: 100%;
        

        

    }
    .Link {
        border: 0.5px solid transparent;
        border-radius: 10px;
    }
    .Link:hover {
           border-color: red;
            transition: transform 0.5s ease;
            transform: translateY(-1px);
            box-sizing: border-box;
        
    }
    .img_product {
        width: 100px;
        height: 30px;
        display: inline-block;
        object-fit: contain;
    }
    .img_product:hover {
       
    }
}