

.mainAdmin {
        margin-top: 12em;
        margin-left: 7%;
        margin-right: 7%;
}

//======================================responsive=============================

.mainAdmin {
        margin-top: 5em;
        margin-left: 4%;
        margin-right: 4%;
}