
.MainFooter {
    
        bottom: 0px;
        margin-top: 2rem;
        grid-column-gap: 3rem;
    
   
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
       .box1 {
         padding: 20px;
        display: flex;
        align-items: start;
        grid-column-gap: 3rem;
        margin-left: 7%;
        margin-right: 7%;
       
       }
}